
@font-face {
    font-family: 'Money3D';
    src: url('assets/fonts/Money3D.ttf') format('truetype');
}

.title {
    font-family: 'Money3D', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    color: gold;
    text-align: center;
    margin-bottom: 20px;
}

#menu {
    display: flex;
    justify-content: space-between; /* פיזור בין האלמנטים */
    align-items: center !important; /* מיישר את האלמנטים בגובה */
    margin-bottom: 20px !important; /* מרווח תחתון */
}


.img-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.img {
    max-width: 10%;
    height: auto;
    border-radius: 8px;
}

/* לוודא שהכרטיסים לא מושפעים מהשינויים */
.card {
    margin-bottom: 20px; /* מרווח בין כרטיסים */
    text-align: center; /* ממרכז את הטקסט בתוך הכרטיס */
}

.card-body {
    padding: 15px;
}

.more-info-btn {
    background-color: rgba(255, 225, 52, 0.833) !important;
    color: white !important;
    border: 2px solid gold !important;
}

.modal img {
    max-width: 150px; /* רוחב מקסימלי */
    height: auto; /* שומר על הפרופורציות */
    margin: 0 auto; /* ממרכז את התמונה */
    display: block; /* מבטיח שהתמונה תהיה אלמנט בלוק */
}


 .img-container img {
    width: 600px; 
    height: auto;  
    max-width: 100%; 
}


.coin-card {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 10px;
    text-align: center;
    width: 250px;
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
}

.coin-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
}

.coin-checkbox {
    margin-top: 10px;
}



/* עיצוב של כרטיס המטבע */
.card {
    position: relative; /* מאפשר למקם אלמנטים בתוך הכרטיס בצורה מוחלטת */
    width: 18rem; /* גודל הכרטיס */
    margin: 10px; /* רווחים בין כרטיסים */
}



.chartContainer {
    height: 300px; 
    width: 100%;
}
/* כלל של תפריט ניווט + חיפוש בכדי שיהיו באותה שורה */



/* עיצוב תפריט ניווט */
.navbar {
    display: flex;
    justify-content: flex-start; /* אלמנטים בצד שמאל */
    align-items: center;
}

/* עיצוב אלמנטים נוספים אם יש צורך */
.navbar-nav {
    display: flex;
    justify-content: space-between;
}

.text-search {
        display: flex !important;
        align-items: center !important;
        margin-left: auto !important; /* ממקם את החיפוש בצד ימין */
}




/* הסתרת אלמנטים */
.d-none {
    display: none !important;
}


.coin-card:hover {
    transform: scale(1.05);
}


/* סגנון של הגרף */
#chartContainer {
    margin-top: 20px;
    width: 100%;
    height: 400px;
}

/* סגנון למודל */
.modal-header {
    background-color: #f7f7f7;
    border-bottom: 1px solid #ddd;
}

.modal-body {
    padding: 20px;
}

/* הצגת ה-switch למעלה בתוך כרטיס המטבע */
.coin-card .form-check {
    position: absolute;  /* כך ה-switch יוכל להיות מנותב על גבי הכרטיס */
    top: 10px;  /* מיקום ממוקם למעלה */
    left: 10px;  /* מיקום לצד ימין */
    z-index: 10;  /* מבטיח שה-Switch יכסה מעל התוכן */
}

/* אם אתה רוצה לשפר עוד יותר את מראה ה-Switch */
.coin-card .form-check .form-check-input {
    transform: scale(1.3);  /* הגדלת הגודל של ה-Switch */
}